body {
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.main-header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 90px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
    align-items: center;
}

.site-navigation {
    display: flex;
    font-size: 18px;
}

.menu-item {
    color: #ffffff;
    text-decoration: none;
    margin-left: 76px;
}

.menu-item:first-child {
    margin-left: 0px;
}

.menu-item:hover,
.menu-item:focus {
    transition: .2s;
    color: #e6e6e6;
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-top: 90px;
    height: 932px;

    background: #9d9ea4 url(../img/background.jpg) center no-repeat;
    background-size: cover;
}

.introduction-inner {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.sale-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 12px;

    margin-bottom: 50px;
}

.proposal-title {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 60px;

    margin-bottom: 50px;
}

.main-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 30px;

    margin-bottom: 54px;
}

.button-default {
    display: inline-block;

    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;

    border: 2px solid white;
    border-radius: 3px;

    padding: 21px 48px;
}

.button-default:hover,
.button-default:focus {
    background-color: #ffffff;
    color: #323338;
    transition: .3s;
}

.section-title {
    padding: 45px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 40px;
    text-align: center;
    color: #333333;
}

.section-title:before {
    margin-bottom: 20px;
    display: block;
    content: "";
    height: 3px;
    background-color: #dc0000;
    width: 113px;
    margin: 0 auto 15px;
}

.section-title:after {
    margin-bottom: 20px;
    display: block;
    content: "";
    height: 3px;
    background-color: #dc0000;
    width: 113px;
    margin: 15px auto 0;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.product-item {
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative;
    width: 370px;
    height: 418px;
    overflow: hidden;
}

.product-item:nth-child(3){
    margin-right: 0;
}

.product-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.product-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    padding: 30px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 37, 51, .7);
}

.product-content:focus,
.product-content:hover {
    background-color: rgba(34, 37, 51, .5);
    transition: .3s;
}

.product-name {
    padding: 150px 0;
    border: 3px solid white;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
    color: #ffffff;
}