body {
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.main-header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 90px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
    align-items: center;
}

.site-navigation {
    display: flex;
    font-size: 18px;
}

.menu-item {
    color: #ffffff;
    text-decoration: none;
    margin-left: 76px;
}

.menu-item:first-child {
    margin-left: 0px;
}

.menu-item:hover,
.menu-item:focus {
    transition: .2s;
    color: #e6e6e6;
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-top: 90px;
    height: 932px;

    background: #9d9ea4 url(../img/background.jpg) center no-repeat;
    background-size: cover;
}

.introduction-inner {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.sale-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 12px;

    margin-bottom: 50px;
}

.proposal-title {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 60px;

    margin-bottom: 50px;
}

.main-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 30px;

    margin-bottom: 54px;
}

.button-default {
    display: inline-block;

    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;

    border: 2px solid white;
    border-radius: 3px;

    padding: 21px 48px;
}

.button-default:hover,
.button-default:focus {
    background-color: #ffffff;
    color: #323338;
    transition: .3s;
}

.section-title {
    padding: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 40px;
    text-align: center;
    color: #333333;
}

.section-title:before {
    margin-bottom: 20px;
    display: block;
    content: "";
    height: 3px;
    background-color: #dc0000;
    width: 113px;
    margin: 0 auto 15px;
}

.section-title:after {
    margin-bottom: 20px;
    display: block;
    content: "";
    height: 3px;
    background-color: #dc0000;
    width: 113px;
    margin: 15px auto 0;
}

.products {
    display: flex;
    text-align: center;
    justify-content: center;
}

.product-item {
    margin-right: 30px;
    position: relative;
    overflow: hidden;
}

.product-item.type-one {
    width: 370px;
    height: 418px;
    margin-bottom: 30px;
}

.product-item.type-two {
    width: 570px;
    height: 418px;
    margin-bottom: 60px;
}

.product-item.type-one:nth-child(3){
    margin-right: 0;
}

.product-item.type-two:nth-child(2){
    margin-right: 0;
}

.product-item.type-one .product-content {
    padding: 30px;
}

.product-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.product-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 37, 51, .7);
}

.product-content:focus,
.product-content:hover {
    background-color: rgba(34, 37, 51, .5);
    transition: .3s;
}

.product-name.type-one {
    padding: 150px 0;
    border: 3px solid white;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
    color: #ffffff;
}

.product-name.type-two {
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    font-weight: 900;
    color: #ffffff;
}

.product-name.type-two:before {
    display: block;
    content: "";
    height: 1px;
    background-color: #ffffff;
    width: 192px;
    margin: 0 auto 15px;
}

.product-name.type-two:after {
    display: block;
    content: "";
    height: 1px;
    background-color: #ffffff;
    width: 192px;
    margin: 15px auto 0;
}

.trending-items {
    height: 918px;

    background: #f6f6f6 url(../img/trending-section-bg.jpg) center no-repeat;
    background-size: cover;
}

.trending-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.trending-photo {
    height: 570px;
    width: 570px;
    background-color: #dddddd;
}

.trending-description {
    width: 570px;
}

.trending-title {
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    color: #dc0000;
}

.trending-collection {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #777777;

    margin-top: 20px;
}

.trending-collection:after {
    content: "";
    margin: 20px 0;
    display: block;
    height: 1px;
    background-color: #000000;
    width: 30px;
}

.trending-review {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #777777;
}

.fashion-tip {
    margin-top: 30px;
    margin-bottom: 3px;
    text-transform: uppercase;
}

.trending-buttons {
    margin-top: 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 370px;
    height: 132px;
}

.size-buttons, 
.order-buttons {
    display: flex;
    justify-content: space-between;
}

.button {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #333333;
    background-color: transparent;
    color: #333333;
}

.button:hover,
.button:focus {
    background-color: #333333;
    color: #ffffff;
    transition: .3s;
    cursor: pointer;
}

.size-button {
    width: 70px;
    height: 50px;
}

.order-button,
.blog-button {
    width: 170px;
    height: 50px;
}

.blog-button {
    display: block;
    padding: 15px 35px;
}

.blog-previews {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blog-item {
    max-width: 570px;
}

.blog-photo {
    width: 570px;
    height: 400px;
    background-color: #dddddd;
}

.article-name {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: #dc0000;
    text-transform: uppercase;

    margin-top: 20px;
}

.article-category {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333333;

    margin-top: 20px;
}

.blog-article {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    color: #333333;
    margin: 32px 0px;
}

.blog-article:before {
    margin-bottom: 34px;
    border-top: 1px solid #ecf0f1;
    width: 100%;
    content: "";
    display: block;
}

.blog-article:after {
    margin-top: 34px;
    border-bottom: 1px solid #ecf0f1;
    width: 100%;
    content: "";
    display: block;
}

.news-subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: #18202f url(../img/news-subscription-background.jpg) center no-repeat;
    background-size: cover;
    height: 250px;
    width: 100%;
    margin-top: 60px;
}

.subscribe-proposal {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
}

.subscribe-form {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.email-input {
    background-image:url(../img/email-icon.png); 
    background-repeat: no-repeat; 
    background-position: 27px 19px;

    padding-left: 81px; 

    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #ffffff;
    text-transform: uppercase;

    width: 770px;
    height: 51px;
    border: 1px solid #ffffff;
    background-color: transparent;
    margin-right: 130px;
}

.email-input::placeholder {
    color: #ffffff;
}

.submit-button {
    width: 270px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    background-color: #ffffff;
    text-transform: uppercase;
    color: #222222;
    border: 0;
    cursor: pointer;
}

.footer-title {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: rgba(51, 51, 51, .6);
    margin: 60px 0;
    text-align: center;
}